.custom-input {
  display: flex;
  height: 30px;
  width: 40px;
  align-items: center;
}
.wrapper-check {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.wrapper-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  background-color: #eee;
}

.wrapper-check:hover input ~ .checkmark {
  background-color: #ccc;
}

.wrapper-check input:checked ~ .checkmark {
  background: #ff9800;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.wrapper-check input:checked ~ .checkmark:after {
  display: block;
}

.wrapper-check .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.custom-input label {
  user-select: none;
}
